{% from 'ImaticViewBundle:Component:message.html.twig' import session_message %}
{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ parent() }}
    {% else %}
        <div>
            {{ block('action') }}
        </div>
    {% endif %}
{% endblock %}

{% block action %}
    <div class="imatic-user-bundle">
        {{ session_message() }}

        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
