{% import "@ImaticView/Component/panel.html.twig" as widget %}
{% extends "@ImaticUser/layout.html.twig" %}

{% block headline %}
    {{ 'resetting.request.submit'|trans({}, 'ImaticUserBundle') }}
{% endblock %}

{% block user_content %}
    <div class="resetting check-email">
        {% embed '@ImaticView/Layout/grid.html.twig' with {rows: [{ cols:{reseting: {size: 4, offset: 4} } }] } %}
            {% block reseting %}

                {% embed '@ImaticView/Component/panel.html.twig' %}
                    {% import "@ImaticView/Component/message.html.twig" as message %}
                    {% set panel = {type: 'app'} %}

                    {% block panel_header %}
                        <h1>{{ 'resetting.request.submit'|trans({}, 'ImaticUserBundle') }}</h1>
                    {% endblock %}

                    {% block panel_body %}
                        {{ message.message('info', 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'ImaticUserBundle')) }}
                    {% endblock %}
                {% endembed %}

            {% endblock %}
        {% endembed %}
    </div>
{% endblock user_content %}
