{% extends "ImaticUserBundle::layout.html.twig" %}

{% block headline %}
    {{ 'User Profile Edit'|trans({}, 'ImaticUserBundle') }}
{% endblock %}

{% block fos_user_content %}
    <div class="profile-edit">
        {% embed 'ImaticViewBundle:Layout:grid.html.twig' with {rows: [{ cols: {sidebar: {size: 3}, form: {size:9} } }] } %}
            {% block sidebar %}
                {{ include('ImaticUserBundle:Profile:menu.html.twig') }}
            {% endblock %}
            {% block form %}
                {{ include('ImaticViewBundle:Component:form.html.twig', {form: form}, with_context = false) }}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}